<style>
    .footer {
  background-color: #808080;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
  left: 0;
  width: 100%;
  bottom: 0;
}

@media (max-width: 767px) {
  .footer {
    background-color: #ff0000;
  }
}

</style>

<footer class="footer">
    <div class="container">
      <p>Copyright &copy; 2023</p>
    </div>
  </footer>
  

</body>
</html>