<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
  
.add{
  height:50px ;
  font-weight: bold; 
  background-color: rgb(235 230 230 / 48%);
  margin: 20px;
  margin-top: 20px;
  border: 1px solid;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: rgb(235 230 230 / 48%);
position: fixed;
top: 0;
left: 0;
width: 100%;
}

ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

li{
margin: 0 10px;
font-weight: bold;
}

a {
text-decoration: none;
color: black;
}
textarea {
width: 600px;
max-width: 600px;
min-height: 150px;
resize: vertical;
}
form{
display: flex;
align-items: center;
flex-direction: column;
}
button{
font-size: medium;
border-radius: 3px white;
width: 100px;
}
    </style>
  
  
  
    
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      